.navbar li {
    display: inline;
    margin: 10px;
}

.navbar ul {
    text-decoration: none;
}

.socialicons img {
    height: 30px;
    width: 30px;
    margin: 2px;
}

.aboutme-container {
    padding-top: 50px;
}

.about-me {
    border-bottom: groove;
    border-bottom-color: darkblue;
}

.hero {
    color: #fff;
    background: url(../media/keyboardpic.jpg) no-repeat 50%;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    padding: 165px 0;
}

.hero li img {
    height: 32px;
    width: 32px;
}

.hero-text li {
    display: inline;
    padding-left: 10px;
}

.hero-text ul {
    list-style: none;
    margin-right: 50px;
}

.logo {
    font-family: 'Open Sans';
}