.navbar li {
    display: inline;
    margin: 10px;
}

.navbar ul {
    text-decoration: none;
}

.socialicons img {
    height: 30px;
    width: 30px;
    margin: 2px;
}

.aboutme-container {
    margin-top: 90px;
}